@inject IAuthorizationService AuthorizationService
@using Microsoft.AspNetCore.Authorization
@model IEnumerable<TCABS.Data.Models.Entities.StudyPeriod>

@{
    ViewData["Title"] = "Study Period Details";
}

<div class="row mb-4">
    <div class="col-6">
        <h2>@ViewData["Title"]</h2>
    </div>
    <div class="col-6 text-right">
        @if ((await AuthorizationService.AuthorizeAsync(User, "CREATE_STUDY_PERIOD")).Succeeded)
        {
            <a class="btn btn-primary" asp-action="CreateStudyPeriod">Create New Study Period</a>
        }
        else
        {
            <span tabindex="0" data-toggle="tooltip" title="You do not have authority to create Study Periods.">
                <button type="button" class="btn btn-primary" style="pointer-events: none;" disabled>Create New Study Period</button>
            </span>
        }
    </div>
</div>

<table class="table col-12" id="studyPeriodTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StudyPeriod_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudyPeriod_Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StudyPeriod_ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StudyPeriod_Name)
                </td>
                <td style="width:15%">
                    @if ((await AuthorizationService.AuthorizeAsync(User, "EDIT_STUDY_PERIOD")).Succeeded)
                    {
                        <a class="btn btn-success" asp-action="EditStudyPeriod" asp-route-id="@item.StudyPeriod_ID">Edit</a>
                    }
                    else
                    {
                        <span tabindex="0" data-toggle="tooltip" title="You do not have authority to edit Study Periods.">
                            <button type="button" class="btn btn-success" style="pointer-events: none;" disabled>Edit</button>
                        </span>
                    }
                    @if ((await AuthorizationService.AuthorizeAsync(User, "DELETE_STUDY_PERIOD")).Succeeded)
                    {
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal-@item.StudyPeriod_ID">Delete</button>
                        <div class="modal fade" id="deleteModal-@item.StudyPeriod_ID" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    @if (item.CanBeRemoved)
                                    {
                                        <div class="modal-header">
                                            <h1 class="modal-title">Delete @item.StudyPeriod_Name?</h1>
                                        </div>
                                        <div class="modal-body">
                                            <p>Do you wish to delete this Study Period?</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                            <a class="btn btn-danger" asp-action="DeleteStudyPeriod" asp-route-id="@item.StudyPeriod_ID">Delete</a>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="modal-header">
                                            <h1 class="modal-title">Notice</h1>
                                        </div>
                                        <div class="modal-body">
                                            <p>You cannot delete this study period as it has been offered previously.</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <span tabindex="0" data-toggle="tooltip" title="You do not have authority to delete Study Period.">
                            <button type="button" class="btn btn-danger" style="pointer-events: none;" disabled>Delete</button>
                        </span>
                    }
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th></th>
            <th class="filter-input">
                @Html.DisplayNameFor(model => model.StudyPeriod_Name)
            </th>
            <th></th>
        </tr>
    </tfoot>
</table>

@section Scripts
    {
    <script>
    var searchValue = document.location.href.split('?').pop();
    var value = searchValue.split('=').pop();

    var table = $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();

        $('#studyPeriodTable .filter-input').each(function () {
            $(this).html('<input class="form-control" type="text" placeholder="Search" />');
        });

        $('#studyPeriodTable').DataTable({
            "dom": '<"d-flex justify-content-between"<lfr>>rt<"bottom"ip><"clear">',
            initComplete: function () {
                this.api().columns('.filter-select').every(function () {
                    var column = this;
                    var select = $('<select class="form-control"><option value=""></option></select>')
                        .appendTo($(column.footer()).empty())
                        .on('change',
                        function () {
                            var val = $.fn.dataTable.util.escapeRegex(
                                $(this).val()
                            );

                            column
                                .search(val ? '^' + val + '$' : '', true, false)
                                .draw();
                        });

                    column.data().unique().sort().each(function (d, j) {
                        if (column.search() === '^' + d + '$') {
                            select.append('<option value="' + d + '" selected="selected">' + d + '</option>');
                        } else {
                            select.append('<option value="' + d + '">' + d + '</option>');
                        }
                    });

                    if (searchValue != value) {
                        select.val(value);
                        select.trigger('change');
                    }
                });

                this.api().columns().every(function () {
                    var that = this;

                    $('input', this.footer()).on('keyup change',
                        function () {
                            if (that.search() !== this.value) {
                                that
                                    .search(this.value)
                                    .draw();
                            }
                        });
                });
            }
        });
    });
    </script>
}
